@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-white bg-black;
    font-family: 'DM-Sans', -apple-system, Roboto, Helvetica, sans-serif;
  }
}

@layer utilities {
  .font-modernist {
    font-family: 'Sk-Modernist', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .font-dm-sans {
    font-family: 'DM-Sans', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .bg-gradient-purple {
    background: linear-gradient(to top, #2315B4, #CF7CFF);
  }
  
  .glass-border {
    border: 0.1px solid rgba(255, 255, 255, 0.28);
    background: rgba(255, 255, 255, 0.06);
  }

  .glass-bg {
    background: rgba(255, 255, 255, 0.1);
    
  }
  
  .text-shadow-glow {
    text-shadow: 0 0 20px rgba(207, 124, 255, 0.5);
  }
  .rounded-blue {
    border-radius: 10px;
    background: radial-gradient(122.51% 108.33% at 50% -30.83%, #CF7CFF 27.73%, #2315B5 100%), #090909;
  }

  .rounded-gray {
    border-radius: 10px;
    border: 0.206px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
  }
  
  .gradient-text {
    background: linear-gradient(to top, #2315B4, #CF7CFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
